body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.navbar {
    margin-bottom: 20;
    background-color: #e1e4ea;
    z-index: 9999;
    border: 50;
    font-size: 14px;
    line-height: 1.42857143;
    letter-spacing: 0px;
    border-radius: 20;
    font-family: Montserrat, sans-serif;
    padding-bottom: 100px;

}

.container{
  width: 1000px;


}

.navbar li a, .navbar .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.food img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.cater img {
  position: absolute;
 left: 50%;
 top: -30px;
  margin-left: -175px !important;  /* 50% of your logo width */

}


.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

.carousel-control.right, .carousel-control.left {
    background-color: ;
    color: #ad41a4;
}

.carousel-indicators li {
    border-color: #ad41a4;
}

.carousel-indicators li.active {
    background-color: #ad41a4;
}

h1 {
    font-size: 40px;
    font-style: bold;
    text-align: center;
}

h2 {
    font-size: 40px;
    /*line-height: 1.375em;*/
    /*font-weight: 400;*/
    font-style: bold;
    color: black;
    text-align: center;
}

h2c {
    font-size: 40px;
    font-style: bold;
    color: black;
    text-align: center;
}

h5 {
    font-size: 20px;
    color: black;
    text-align: center;
}

h6 {
    font-size: 40px;
    font-style: bold;
    text-align: center;
    color: black;
}

.h10 {
  font-size: 40px;
  font-style: bold;
  text-align: center;
  color: #3d872b;
  }

  .about {
      border: 3px solid black;
      background-color: #e1e4ea;
      padding-top: 60px;
      padding-right: 80px;
      padding-bottom: 60px;
      padding-left: 80px;
  }



.mission {
    border: 3px solid black;
    background-color: #e1e4ea;
    padding-top: 60px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-left: 80px;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 80px 0;
    color: black;
}

.item span {
    font-style: normal;
}


/* Add an orange color to all icons and set the font-size */

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.contact {
    border: 3px solid black;
    background-color: #e1e4ea;
    padding-top: 90px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-left: 80px;
}

h1cu{
  color: black;
  font-style: bold;
}


.jumbotron {
    background: #888c86;
    color: white;
    border-radius: 0px;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    text-align: center;
}

.jumbotron-sm {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-top: 200px;
}

.jumbotron small {
    color: #FFF;
}
